# OS
.DS_Store

# Dependencies
node_modules/

# Playwright
playwright-report/
test-results/
blob-report/
allure-results/

# Auth / storage state
auth.json
authState.json

# Env files
.env
.env.*

# Editor
.vscode/
